<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <% include ../static/partials/navbar.ejs %>

    <h1>Wikis</h1>

    <% if(currentUser) { %>
      <a href="/wikis/createPage" class="btn btn-success">New Wiki</a>
      <% } %>

      <ul class="list-group">
        <!-- #1 -->
        <% wikis.forEach((wiki) => {
          if (wiki.isPrivate()===false){
            %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
            <% }else{
              if(currentUser){
                if(currentUser.id===wiki.userId){ %>
                  <li class="list-group-item">
                    <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  </li>
                  <% }}};}) %>
            </ul>

          </main>
        </body>
        </html>
