<html lang="en">
  <head>
   <% include ./partials/head.ejs %>
  </head>
  <body>
<% include ../static/partials/messages.ejs %>
      <main class="container">
   <% include ./partials/navbar.ejs %>
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">An application for users to create wikis.</p>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-6">
            <h4 class="card-title">Wikis</h4>
            <p class="card-text"> Create, collaborate, and share wikis</p>
          </section>

          <section class="col-lg-6">
            <h4 class="card-title">Premium</h4>
            <p class="card-text">Get all the benefis as a premium user</p>
            <% if(currentUser){ if (currentUser.isPremium() === false){%>
            <form action="/upgrade" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_m8YN4IfIHbdl5dB1CZfxHYSd00VED9JjLf"
                data-amount="1500"
                data-name="Premium"
                data-description="Upgrade your account to premium"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
              <script>document.getElementsByClassName('stripe-button-el')[0].style.display='none'</script>
                <button type="submit" class="btn btn-primary">Upgrade</button>
            </form>
        <% }else{ %>
            <form action="/downgrade" method="POST">
           <button type="submit" class="btn btn-primary">Standard</button>  <%} } %>
         </form>
          </section>


        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->


       <% include ./partials/baseScripts.ejs %>
    </body>
</html>
